<div class="container">
  <div class="wrapper-cocktail-show d-flex justify-content-center">
    <div class="cocktail-show">
      <div class="cocktail-title text-center">
        <h2>
          <%= @cocktail.name %>
          <%= link_to edit_cocktail_path(@cocktail.id) do %>
            <i class="far fa-edit"></i>
          <% end %>
          <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Delete #{@cocktail.name}?"} do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <hr></h2>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="cocktail-composition">
            <h4>Composition:</h4>
            <table class="table" id="mytable">
              <% @cocktail.doses.each do |dose| %>
                <tr>
                  <td><%= dose.description %> </td>
                  <td><%= dose.ingredient.name %> </td>
                  <td>
                    <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="far fa-trash-alt destroy_dose"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="cocktail-technique">
            <h4>Technique:</h4>
            <p> <%= @cocktail.technique %> </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="wrap-doseadd">
            <p>
            <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-plus"></i>
            </button>
            Add ingredient
            </p>
            <div class="collapse" id="collapseExample">
              <div class="form-wrapper">
                <%= render 'doses/new', cocktail: @cocktail, dose: @dose %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="reviews">
            <h4>Reviews:</h4>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="wrap-reviewadd">
            <p>
              <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
              <i class="fas fa-plus"></i>
              </button>
              Add review
            </p>
            <div class="collapse" id="collapseExample2">
              <div class="form-wrapper">
                <%= render "reviews/new", cocktail: @cocktail, review: @review %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cocktail-reviews">
          <ul class="list-group">
            <% @cocktail.reviews.each do |review| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="badge badge-danger badge-pill">
                  <% counter = 0 %>
                  <% 5.times do %>
                    <i class="fas <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                    <% counter += 1 %>
                  <% end %>
                </span>
                <%= review.comment %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center">
        <div class="cocktail-links">
          <%= link_to "Home", root_path, class: 'btn btn-success' %>
          <%= link_to "Index", cocktails_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
</div>
